/* .nav-link:hover {
    background-color: #99AABF;
    color: white;
  } */
  .dropdown-item:hover {
    background-color: gray;
    color: white; 
    cursor: pointer;
  }
  .make-btn{
    border:1px solid black;
    color: black;
    margin-right: 10px;
  }